.tasks {
  list-style: decimal;
  color: #fff;
  a {
    text-decoration: none;
  }

  .done a {
    text-decoration: line-through;
    color: grey;
  }

  .progress a{
    text-decoration: underline;
  }
}
