@import "../../variables";

.tabs {
  min-height: 300px;
  .nav-tab {
    ul {
      display: flex;
      list-style: none;
      padding: 0;
      background: #36cb6c;
      border-radius: $base-border-rad;
      overflow: hidden;
      justify-content: space-between;
      margin-bottom: 30px;
      li {
        &.active a {
          background: #aaa;
        }
      }
      a {
        display: block;
        padding: 7px 10px;
        text-decoration: none;
        font-size: 20px;
      }
    }
  }

  .tab-content {
    opacity: 1;
    transition: opacity .5s;
    padding-left: 20px;
    .active {
      opacity: 1;
    }
    .btn-white {
      margin: 30px auto;
      display: block;
      width: max-content;
    }
  }
}

.tasks {
  li {
    font-size: 18px;
    padding: 5px 40px 5px 0;
    position: relative;
  }
  .status {
    position: absolute;
    top: 5px;
    right: 0;
  }
}
