@import "../../variables";

.tabs {
  .nav-tab {
    ul {
      display: flex;
      list-style: none;
      padding: 0;
      background: #36cb6c;
      border-radius: $base-border-rad;
      overflow: hidden;
      justify-content: space-between;
      margin-bottom: 30px;
      li {
        &.active a {
          background: #aaa;
        }

      }
      a {
        display: block;
        padding: 7px 10px;
        text-decoration: none;
        font-size: 20px;
      }
    }
  }

  .tab-content {
    opacity: 1;
    transition: opacity .5s;

    .active {
      opacity: 1;
    }
  }
}

.tasks {
  li {
    font-size: 18px;
    padding: 5px 0;
  }
}
